## This notebook aim to load longitude and latitude coordinates of each Toronto neighborhood from a csv file

#### First import pandas

In [7]:
import pandas as pd

In [10]:
path = "D:\Coursera\IBM Data Science\Course10\Week3\FinalAssigment"
df_coordinates = pd.read_csv(path + "\Geospatial_Coordinates.csv")

#### Show first 5 rows of the dataframe

In [11]:
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Now let's load csv file with postalcode, neighborhood and boroughs of Toronto as pandas dataframe

In [18]:
df_toronto = pd.read_csv(path + "\TorontoData.csv")
df_toronto.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

####  Before merge df_coordinates and df_toronto on postalcode to obtain the final dataframe, let's remove the empty space from "Postal Code" label of df_coordinates

In [15]:
df_coordinates.rename(columns={"Postal Code":"PostalCode"}, inplace=True)
df_coordinates.columns

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

In [23]:
df_final = df_coordinates.merge(df_toronto, on = "PostalCode")
df_final

,PostalCode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
...,...,...,...,...,...
98,M9N,43.706876,-79.518188,York,Weston
99,M9P,43.696319,-79.532242,Etobicoke,Westmount
100,M9R,43.688905,-79.554724,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,43.739416,-79.588437,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,43.706748,-79.594054,Etobicoke Northwest,"Clairville, Humberwood, Woodbine Downs, West H..."

#### Export df_final to csv file

In [24]:
df_final.to_csv(path + "\TorontoDataCoordinates.csv", index=False)